* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.4);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}
.start {
  background: royalblue;
}
.progress {
  background: seagreen;
}
.done {
  background: teal;
}
.placeholder {
  width: 150px;
  height: 200px;
}
.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 4px 4px 9px rgb(52, 38, 36);
  padding: 0.8rem 1rem;
  background-color: #f7f6f7;
  color: #828282;
  text-align: center;
  cursor: grab;
}
.item:active {
  cursor: grabbing;
}
.hold {
  box-shadow: none;
}
.hide {
  display: none;
}
.hovered {
  background: #999999;
  border-radius: 20px;
}
